.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 4.5rem;
}

.description {
  flex: 0 0 60%;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .btn-inline {
    &:hover {
      & span {
        margin-left: 8px;
      }
    }
  }

  & .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.3s;
  }
}
